################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringPerformanceTest/.vs/StringPerformanceTest
/StringPerformanceTest/StringPerformanceTest/bin
/StringPerformanceTest/StringPerformanceTest/obj
